# ==========================================
# Python 核心暫存與快取
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Pytest 與測試產生的快取
# ==========================================
.pytest_cache/
.phpunit.result.cache
htmlcov/
.toast
.BUILD/
.ra/

# ==========================================
# 虛擬環境與套件資料夾
# ==========================================
venv/
.venv/
env/
.env
bin/
include/
lib/
share/

# ==========================================
# 作業系統與編輯器暫存
# ==========================================
.DS_Store
.vscode/
.idea/
